body{
  background-color: rgb(55, 1, 22);
}
.buttonDiv{
  background-color: rgb(1, 55, 34);
  height: 70px;
  text-align: center;
}
button{
  background-color: rgb(206, 189, 185);
  color: black;
  border: 2px solid grey;
  font-size: 16px;
  text-align: center;

}
#aboutMe_button_container{
display:inline-block;
min-width: 100px;
}
#work_button_container{
display:inline-block;
min-width: 100px;
}
.intro{
  color: black;
}
