h1{

  color: rgb(240, 239, 244);

}
.aboutMe{
  text-align: center;
}

body{
  background-color: rgb(0, 0, 0);
}
.buttonDiv{
  background-color: rgb(41, 21, 40);
  height: 70px;
  text-align: center;

}
button{
  background-color: rgb(58, 62, 59);
  color: rgb(158, 130, 156);
  border: 2px solid rgb(240, 239, 244);
  font-size: 20px;
  text-align: center;
  margin: 8px;
  width: 180px;
  height: 50px;
  border-radius: 12px;
}
#edu_button_container{
display:inline-block;
min-width: 100px;
}
#work_button_container{
display:inline-block;
min-width: 100px;
}
#certs_button_container{
display:inline-block;
min-width: 100px;
}
#projects_button_container{
display:inline-block;
min-width: 100px;
}
#contact_button_container{
display:inline-block;
min-width: 100px;
}
.intro{
  color: rgb(158, 130, 156);
}

/*This is the id for the text in the about me div (aboutMeText)*/
#aboutMeText{
  color: rgb(158, 130, 156);
  font-size: 25px;
}
/**/
#aboutMeSection{
  text-align: center;
  margin-top: 40px;
  background-color: rgb(41, 21, 40);

/*To change the size of the div that has the about me section in it*/
  width: 1000px;
  height: 200px;

/*Margin-left and margin-right on auto - the margin makes space between elements
and doing auto makes it so the browser calculates it*/
  margin-left: auto;
  margin-right: auto;
}
/*This is to move the div down that contains the picture
and to center it on the page*/
.aboutMePic{
  text-align: center;
  margin-top: 100px;
}
/*This is the id to change the picture size and add a border*/
#mePic{
  width: 400px;
  height: 400px;
  border: 8px solid rgb(41, 21, 40);
}
